<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ book.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-lend': book.isLend, 'is-not-lend': !book.isLend}">
    <ion-card-header>{{ book.name }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of book.description">{{ line }}</p>
    </ion-card-content>
    <form #f="ngForm" (ngSubmit)="onLendBook(f)">
      <ion-grid>
        <ion-row>
          <ion-label>Emprunteur :</ion-label>
          <ion-input type="text" [(ngModel)]="borrower" name="borrower" style="background-color:rgb(180, 180, 180)"
            [disabled]="book.isLend"></ion-input>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full type="button" color="dark" [disabled]="!book.isLend"
              (click)="onRecoverBook()">Récupérer</button>
          </ion-col>
          <ion-col>
            <button ion-button full type="submit" color="primary" [disabled]="book.isLend">Prêter</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <p style="color: red;" *ngIf="errorMessage">{{errorMessage}}</p>
</ion-content>