<!--
  Generated template for the LendBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ cd.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-lend': cd.isLend, 'is-not-lend': !cd.isLend}">
    <ion-card-header>{{ cd.name }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of cd.description">{{ line }}</p>
    </ion-card-content>
    <form #f="ngForm" (ngSubmit)="onLendCD(f)">
      <ion-grid>
        <ion-row>
          <ion-label>Emprunteur :</ion-label>
          <ion-input type="text" [(ngModel)]="borrower" name="borrower" style="background-color:rgb(180, 180, 180)"
            [disabled]="cd.isLend"></ion-input>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full type="button" color="dark" [disabled]="!cd.isLend"
              (click)="onRecoverCD()">Récupérer</button>
          </ion-col>
          <ion-col>
            <button ion-button full type="submit" color="primary" [disabled]="cd.isLend">Prêter</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <p style="color: red;" *ngIf="errorMessage">{{errorMessage}}</p>
</ion-content>